<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Работа мечты!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Работа мечты</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Главная <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
            <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
            <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
            <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div _ngcontent-ldm-c11="" class="row pb-3">
            <div _ngcontent-ldm-c11="" class="w-100 card">
                <div _ngcontent-ldm-c11="" class="card-header">
                    <div _ngcontent-ldm-c11="" class="grid">
                        <div _ngcontent-ldm-c11="" class="row">
                            <div _ngcontent-ldm-c11="" class="col-sm-12">
                                <div _ngcontent-ldm-c11="">
                                    <span _ngcontent-ldm-c11="" class="font-weight-bold">1. Техническое задание - проект "Работа мечты"  [#504836 #371899]</span>
                                    <!----><span _ngcontent-ldm-c11="" class="pull-right">
                                    <i _ngcontent-ldm-c11="" aria-hidden="true" class="fa fa-comments-o mr-2" onclick="window.scrollTo(0, document.body.scrollHeight);" style="cursor: pointer;" title="Открыть обсуждения учеников"></i>
                                    <app-book-mark-star _ngcontent-ldm-c11="" _nghost-ldm-c10="">
                                        <i _ngcontent-ldm-c10="" aria-hidden="true" class="fa fa-star pull-right" style="cursor: pointer;" title="Добавить урок в закладку?"></i>
                                    </app-book-mark-star>
                                    <!----><i _ngcontent-ldm-c11="" class="fa fa-thumbs-down text-muted" style="cursor: pointer;" title="Урок ненравится"></i>
                                    <!----><span _ngcontent-ldm-c11="" class="ml-1 mr-2">0</span>
                                    <!---->
                                    <!----><i _ngcontent-ldm-c11="" class="fa fa-thumbs-up text-primary" style="cursor: pointer;" title="Урок нравится"></i>
                                    <span _ngcontent-ldm-c11="" class="ml-1">8</span>
                                </span>
                                </div>
                                <div _ngcontent-ldm-c11="">
                                    <small _ngcontent-ldm-c11="" class="mb-2 text-muted">
                                        <span _ngcontent-ldm-c11="" class="mr-3">Уровень : 3. Мидл</span>
                                        <span _ngcontent-ldm-c11="" class="mr-3">Категория : 3.2. Web</span>
                                        <span _ngcontent-ldm-c11="" class="mr-3">Тема : 3.2.1.0. ТХ. Работа мечты.</span>
                                    </small>
                                </div>
                                <div _ngcontent-ldm-c11="">
                                    <small _ngcontent-ldm-c11="" class="mb-2 text-muted">
                                        <!----><!---->
                                        <span _ngcontent-ldm-c11="" class="badge badge-success mr-3">Выполнена</span>
                                        <!----><!----><!---->
                                        <span _ngcontent-ldm-c11="" class="mr-3 font-weight-bolder">Ответственный : Николай (nikegreen@yandex.ru)</span>
                                        <span _ngcontent-ldm-c11="" class="mr-3">Начало решения : 16.12.2022 20:31</span>
                                        <span _ngcontent-ldm-c11="">Обновлена : 17.12.2022 01:11</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ldm-c11="" class="card-body">
                    <p _ngcontent-ldm-c11="" class="card-text">
                        <p>В этом блоке мы поговорим о создании веб приложений на языка Java.</p>
                        <p>Мы будем использовать Spring boot, как основную библиотеку, но рассматривать детали этого фреймворка не будем. Это будет в блоке Spring.</p><p>Основная задача этого блока, понять архитектуру веб приложений.</p>
                        <p>Мы будем разрабатывать приложение "Работа мечты".</p>
                        <p>В системе будут две модели: вакансии и кандидаты. Кандидаты будут публиковать резюме. Кадровики будут публиковать вакансии о работе.</p>
                        <p>Кандидаты могут откликнуться на вакансию. Кадровик может пригласить на вакансию кандидата.</p>
                        <p>&nbsp;</p>
                        <p><strong>Задание.</strong></p>
                        <p>1. Создайте новый репозиторий job4j_dreamjob.</p>
                        <p>2. Добавьте maven сборку.</p>
                        <p>4. Оставьте ссылку на репозиторий. Переведите ответственного на Петра Арсентьева.&nbsp;</p></p></div><div _ngcontent-ldm-c11="" class="card-footer text-muted"> 1. Техническое задание - проект "Работа мечты"  [#504836 #371899] </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Работа мечты</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Главная <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
            <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
            <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
            <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
        </div>
    </div>
</nav>
</body>
</html>
